<div class="your-badge">SIMPLE BADGE</div>
<div class="your-badge s">Small size Badge</div>
<div class="your-badge m">Medium size Badge</div>
<div class="your-badge l">Large badge</div>
<div class="your-badge back">Back badge</div>
<div class="your-badge secondary">Secondary badge</div>
<div class="your-badge default">Default badge</div>
<div class="your-badge success">Success badge</div>
<div class="your-badge warn">Warn badge</div>


<div class="your-badge error"
     yourPopupAreaTrigger="hover"
     [popupDelay]="350"
>
  <your-popup-area position="bottom" width="250px">
    <div class="your-badge error">
      Lorem ipsum dolor sit amet, consectetur adipiscing elit,
      sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
      Lorem ipsum dolor sit amet, consectetur adipiscing elit,
      sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
    </div>
  </your-popup-area>
  Error badge with description
</div>
