<div>

  <your-card size="l" yourFlexBox="horizontal" wrap yourFlexBoxBasis="250px" maxWidth="500px">

    <h3 class="p-b-md" style="width:100%">Multiple select</h3>
    <your-form-field label="Mountains" [ngClass]="{error: !multipleMountains}">
      <your-multiple-select
        [options]="mountains"
        [(ngModel)]="multipleMountains"
        required
        keyOfValue="id"
        labelValue="name"
      ></your-multiple-select>
      <span formFieldInfo *ngIf="!multipleMountains">At least one mountain should be selected</span>
    </your-form-field>

    <your-form-field label="Hi!">
      <input yourInput>
    </your-form-field>

  </your-card>

  <your-card size="l" yourFlexBox="vertical" yourFlexBoxBasis="250px" maxWidth="250px">

    <h3 class="p-b-md">String array</h3>
    <your-form-field label="Countries">
      <your-select [options]="plainOptions" [(ngModel)]="selectedPlainMountain"></your-select>
    </your-form-field>

    <h5 class="p-t-md">
      Selected value: <b *ngIf="selectedPlainMountain != null; else nothingSelected">{{selectedPlainMountain}}</b>
    </h5>
  </your-card>

  <your-card size="l" yourFlexBox="vertical" yourFlexBoxBasis="250px" maxWidth="250px">
    <form [formGroup]="form">

      <h3 class="p-b-md">Object array #1</h3>
      <h5 class="p-b-md">Bound value is id, displayed value is name</h5>
      <your-form-field label="Countries" [ngClass]="{error: this.selectedIdNameMountain.invalid && this.selectedIdNameMountain.touched}">
        <your-select [options]="mountains" formControlName="selectedIdNameMountain" labelValue="name" bindValue="id"></your-select>
        <span formFieldInfo *ngIf="this.selectedIdNameMountain.invalid && this.selectedIdNameMountain.touched">At least one mountain should be selected</span>
      </your-form-field>

      <h5 class="p-t-md">
        Selected value: <b *ngIf="selectedIdNameMountain != null; else nothingSelected">{{selectedIdNameMountain}}</b>
      </h5>
    </form>

  </your-card>

  <your-card size="l" yourFlexBox="vertical" yourFlexBoxBasis="250px" maxWidth="250px">

    <h3 class="p-b-md">Object array #2</h3>
    <h5 class="p-b-md">Bound value is object, displayed value is calculated in input function</h5>
    <your-form-field label="Countries">
      <your-select [options]="mountains" [(ngModel)]="selectedMountain" labelValue="name"></your-select>
    </your-form-field>

    <h5 class="p-t-md">
      Selected value: <b *ngIf="selectedMountain != null; else nothingSelected">{{selectedMountain | json}}</b>
    </h5>

  </your-card>

  <ng-template #nothingSelected>
    <i>Nothing selected</i>
  </ng-template>


</div>
