<your-card>

  <your-expandable-panel>
    <div expandable-panel-label>Expandable panel label with inner content</div>
    <div expandable-panel-content>
      <your-expandable-panel>
        <div expandable-panel-label>Inner expandable panel</div>
        <div expandable-panel-content>Content</div>
      </your-expandable-panel>
    </div>
  </your-expandable-panel>

  <your-expandable-panel>
    <div expandable-panel-label>Expandable panel label</div>
    <div expandable-panel-content>Content</div>
  </your-expandable-panel>

</your-card>
